body {
  background-color: #FFE6AB;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: chennai,sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #573391;
}

/* change default link style */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

.animate-character
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.section-heading {
  text-align: center;
  background-color: #FFE6AB;
  font-size: 1.25em;
}

/* styling of all images inside tile */
.project-1 img {
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.project-2 img {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 50px;
}

.project-3 img {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.project-4 img {
  width: 60%;
  height: auto;
  margin: auto;
}

.project-5 img {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.project-6 img {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.project-7 img {
  width: 50%;
  height: auto;
  margin: auto;
}

.project-8 img {
  width: 50%;
  height: auto;
  margin: auto;
}

.column-4 {
  float: left;
  width: 18%;
  padding: 10px;
  margin:20px;
  height: 250px;
}

.project-text {
  text-align: center;
}

/* Color and Images for Project Containers  */
.project-1 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-1 .tooltiptext {
  visibility: hidden;
  width: 186px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -190px;
  margin-left: 18px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-1:hover .tooltiptext {
  visibility: visible;
}

.project-2 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-2 .tooltiptext {
  visibility: hidden;
  width: 195px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -136px;
  margin-left: 11px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-2:hover .tooltiptext {
  visibility: visible;
}

.project-3 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-3 .tooltiptext {
  visibility: hidden;
  width: 186px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -210px;
  margin-left: 18px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-3:hover .tooltiptext {
  visibility: visible;
}

.project-4 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-4 .tooltiptext {
  visibility: hidden;
  width: 186px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -210px;
  margin-left: 18px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-4:hover .tooltiptext {
  visibility: visible;
}

.project-5 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-5 .tooltiptext {
  visibility: hidden;
  width: 186px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -180px;
  margin-left: 18px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-5:hover .tooltiptext {
  visibility: visible;
}

.project-6 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-6 .tooltiptext {
  visibility: hidden;
  width: 190px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -150px;
  margin-left: 13px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-6:hover .tooltiptext {
  visibility: visible;
}

.project-7 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-7 .tooltiptext {
  visibility: hidden;
  width: 190px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -190px;
  margin-left: 13px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-7:hover .tooltiptext {
  visibility: visible;
}

.project-8 {
  background-color: white;
  border-radius: 50px;
}

/* Tooltip text */
.project-8 .tooltiptext {
  visibility: hidden;
  width: 190px;
  height: 176px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-top: -200px;
  margin-left: 13px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.project-8:hover .tooltiptext {
  visibility: visible;
}
